<p>menu works!</p>
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " routerLink="#/admin/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#/admin/create">
          <i class="bi bi-list-task"></i>
          <span>Create Task</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#/admin/task">
          <i class="bi bi-check2-square"></i>
                    <span>Tasks</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#/admin/alltask">
          <i class="bi bi-list-task"></i>
          <span>All Task</span>
        </a>
      </li>
    </ul> 
</aside>