<main id="main" class="main">
  <section class="section">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><strong>Tasks</strong>| <span>Today</span></h5>
            <div class="mt-3">
              <input type="date" class="form-control" [(ngModel)]="selectedDate" (change)="GetTaskByDate()">
            </div>
          </div>
          <!-- Table with stripped rows -->
          <table class="table table-striped" *ngIf="TaskData?.length>0 && ShowData == 0">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of TaskData;let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{x.dueDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{x.title}}</td>
                <td style="max-width:10%;">{{x.description}}</td>
                <td>{{x.priority}}</td>
                <td class="text-danger" (click)="Edit(x)" style="cursor: pointer;"><i class="bi bi-pencil-square"></i>
                </td>
                <td class="text-danger" (click)="Delete(x._id)" style="cursor: pointer;"><i class="bi bi-trash text-danger"></i>
                </td>
              </tr>

            </tbody>
          </table>
          <table class="table table-striped" *ngIf="TaskData?.length>0 && ShowData == 1">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of Id; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                {{x.dueDate | date:'dd-MM-yyyy'}}
                </td>
                <td>
                  <input type="text" class="form-control" [value]="x.title" name="x.title" [(ngModel)]="x.title">
                </td>
                <td style="max-width: 10%;">
                  <input type="text" class="form-control" [value]="x.description" name="x.description" [(ngModel)]="x.description">
                </td>
                <td>
                  <input type="text" class="form-control" [value]="x.priority" name="x.priority" [(ngModel)]="x.priority">
                </td>
              </tr>

            </tbody>
          </table>
          <!-- End Table with stripped rows -->
          
          <div class="text-center" *ngIf="ShowData == 1">
            <button class="btn btn-primary btn-sm" (click)="UpdateData()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>